body {
  overflow-x: hidden;
}

.big-container {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #692e69;
background-image: linear-gradient(90deg, #692e69 0%, #aa9eab 19%, #ffffff 39%, #504d4d 60%, #692e69 80%, #695353 100%);

  
}

.container {
  align-self: center;
  margin-top: 15vh;
  display: grid;
  grid-template-areas:
    'show-val show-val show-val show-val'
    'AC plus-minus modulo divise'
    'seven height nine multiplication'
    'four five six minus'
    'one two three plus'
    'zero-first zero-first zero-first equal';
  width: 50vw;
  height: 50vh;
}

.zero {
  grid-area: zero-first;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  grid-area: one;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two {
  grid-area: two;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three {
  grid-area: three;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four {
  grid-area: four;
  display: flex;
  align-items: center;
  justify-content: center;
}

.five {
  grid-area: five;
  display: flex;
  align-items: center;
  justify-content: center;
}

.six {
  grid-area: six;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seven {
  grid-area: seven;
  display: flex;
  align-items: center;
  justify-content: center;
}

.height {
  grid-area: height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nine {
  grid-area: nine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  grid-area: plus;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus {
  grid-area: minus;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divise {
  grid-area: divise;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiply {
  grid-area: multiplication;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-minus {
  grid-area: plus-minus;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AC {
  grid-area: AC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulo {
  grid-area: modulo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-val {
  grid-area: show-val;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  background-color: rgba(123, 136, 146, 0.6);
  color: white;
}

.equal {
  grid-area: equal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equal,
.multiply,
.divise,
.plus,
.minus {
  background-color: rgba(214, 110, 13, 0.9);
}

.main-home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.link:hover {
  background-color: rgb(19, 81, 197);
}

.link:active {
  background-color: rgb(240, 112, 112);
}

.link-1, .link-2 {
  border-right: solid 1px black;
  padding: 0 10px;

}

.paragraph {
  width: 80vw;
}
.quote-text {
  text-align: center;
}